@model Crufty.CourtWebsite
@using (Html.BeginForm("Mark", "Home", FormMethod.Post, new { @id = Model.Id }))
{
    @Html.HiddenFor(x => x.Id)
    <div class="row">
        <div class="col-lg-12">
            <h4>@Html.DisplayTextFor(x => x.CourtName)</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <h5>@Html.DisplayTextFor(x => x.Url)</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            @Html.Label("XPath ")
        </div>
        <div class="col-xs-10">
            @Html.TextBoxFor(x => x.SelectionXPathString)
            <input type="button" id='btn-@(Model.Id)' class="btn" value="Save XPath"/>
            <button type="button" class="btn btn-default" aria-label="Left Align" style="display: none;" id="btn-xpath-@(Model.Id)">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#btn-@(Model.Id)').click(function () {
                    $.post("/Home/UpdateXPath", { id: "@(Model.Id)", xPath: "@(Model.SelectionXPathString)" })
                        .done(function (data) {                            
                            $('#btn-xpath-@(Model.Id)').show();
                        });
                });
            });

        </script>
    </div>
    <div class="row">
        <div class="col-xs-2">
            @Html.Label("Notes")
        </div>
        <div class="col-xs-8">
            @Html.DisplayTextFor(x => x.CourtKey)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            @Html.Label("Last Run")
        </div>
        <div class="col-xs-2">
            @Html.DisplayTextFor(x => x.LastRunDateTime)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            @Html.Label("Last Change")
        </div>
        <div class="col-xs-2">
            @Html.DisplayTextFor(x => x.LastChangedDateTime)
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            Checked? &nbsp;@Html.CheckBoxFor(x => x.Checked)
        </div>
        <div class="col-lg-3">
            @if (!@Model.Checked)
            {
                <input type="button" id='btnMark-@(Model.Id)' class="btn btn-sm" value="Mark as Checked" />
                <button type="button" class="btn btn-default" aria-label="Left Align" style="display: none;" id="btn-ok-@(Model.Id)">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span>
                </button>
            }
            <script type="text/javascript">
                $(function () {
                    $('#btnMark-@(Model.Id)').click(function () {
                        $.post("/Home/Mark", { id: "@(Model.Id)" })
                            .done(function (data) {                                
                                $('#btn-ok-@(Model.Id)').show();
                            });
                    });
                });
            </script>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <h4><a href="~/SideBySideDiff?id=@Model.Id">Side By Side Changes</a></h4>
        </div>
        <div class="col-xs-3">
            <h4><a href="~/ColoredDiff?id=@Model.Id">Alternate View of Changes</a></h4>
        </div>
    </div>
    <hr />
}