@using Crufty
@model CruftyWeb.Models.HomeViewModel


<div class="jumbotron">
    <h1>Court Websites with Changes</h1>
</div>


@foreach (var court in Model.websites)
{
    <div class="row">
        <div class="col-md-4">
            @Html.Hidden(court.Id.ToString())
            <div><label>Name: </label>@court.CourtName</div>
            <div><label>Checked? </label>@Html.CheckBox("Checked", court.Checked)</div>
            <div><label>Last Changed: </label>@court.LastChangedDateTime</div>
            <div><label>Last Run: </label>@court.LastRunDateTime</div>
            <div><label>XPath: </label>@court.SelectionXPathString</div>            
            <div><a href="~/SideBySideDiff?id=@court.Id">Side By Side Changes</a></div>
            <div><a href="~/ColoredDiff?id=@court.Id">Alternate View of Changes</a></div>
        </div>
        <div class="col-md-4">            
        </div>
    </div>
    <hr/>
}