@using Crufty
@model CruftyWeb.Models.HomeViewModel

<div class="jumbotron">
    <h1>Court Changes</h1>
</div>

<div class="container">
    @using (Html.BeginForm("AddNewSite", "Home", FormMethod.Post))
    {
        <div class="row">
            <div class="col-xs-6">
                <h4>Add New Site</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <p>@Html.LabelFor(x => x.CourtKey) </p>
                <p>@Html.LabelFor(x => x.CourtName) </p>
                <p>@Html.LabelFor(x => x.Url) </p>
                <p>@Html.LabelFor(x => x.XPath)</p>
            </div>

            <div class="col-xs-2">
                <p>@Html.TextBoxFor(x => x.CourtKey)</p>
                <p>@Html.TextBoxFor(x => x.CourtName)</p>
                <p>@Html.TextBoxFor(x => x.Url)</p>
                <p>@Html.TextBoxFor(x => x.XPath)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <input type="submit" id="Save" class="btn btn-primary" value="Add"/>
            </div>
        </div>
    }
    <br/>
    <br/>
    <hr/>

    @Html.Label("Display All Courts?")&nbsp;@Html.CheckBox("DisplayAll", Model.DisplayAll, new {@id = "DisplayAll"})

    @foreach (var court in Model.Websites)
    {
        Html.RenderPartial("CourtRow", court);
    }
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#DisplayAll').change(function () {            
            if ($(this).prop('checked')) {                
                window.location.href = "/Home?displayAll=true";
            } else {
                window.location.href = '/Home';                
            }
        });
    });
</script>